body {
    padding-top: 70px;
}

a {
    outline: 0 !important;
}

.logo {
    padding-left: 70px;
    background-image: url("../img/logo/logo-40x40.png");
    background-position: 15px 5px;
    background-repeat: no-repeat;
}

.btn-list {
    margin-right: 10px;
    margin-bottom: 10px;
}

.badge-number {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    padding-top: 8px;
}