<IfModule mod_rewrite.c>
    RewriteEngine On

    # define available endpoints
    RewriteRule ^api/years$ api/index.php?action=years [L]
    RewriteRule ^api/editions/(\d+)$ api/index.php?action=editions&year=$1 [L]
</IfModule>