<IfModule mod_rewrite.c>
    RewriteEngine On

    # define available endpoints
    RewriteRule ^api/providers$ api/index.php?action=providers [L]
    RewriteRule ^api/years/([a-z0-9]+)/([a-z0-9]+)$ api/index.php?action=years&provider=$1&game=$2 [L]
    RewriteRule ^api/draws/([a-z0-9]+)/([a-z0-9]+)/(\d+)$ api/index.php?action=draws&provider=$1&game=$2&year=$3 [L]
</IfModule>