<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Lottery</title>

        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-slot" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="#">Lottery</a>
                </div>

                <div class="collapse navbar-collapse" id="navigation-slot"></div>
            </div>
        </nav>

        <div id="content-slot" class="container"></div>

        <script type="text/template" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="current-game"><%= currentGame.get('name') %></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <% games.forEach(function (game) { %>
                            <li>
                                <a href="#/browse/<%= game.get('id') %>" class="game">
                                    <%= game.get('name') %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </script>

        <script type="text/template" id="browse-years">
            <h1><%= game.get('name') %></h1>
            <hr/>
            <% game.get('years').forEach(function (year) { %>
                <a href="#/browse/<%= game.get('id') %>/<%= year.get('year') %>">
                    <%= year.get('year') %>
                </a>
            <% }); %>
        </script>

        <script type="text/template" id="browse-draws">
            <h1><%= game.get('name') %> (<%= year %>)</h1>
            <hr/>
            <a href="#/browse/<%= game.get('id') %>">Back to years</a>
            <br/>
            <% game.getDraw(year).forEach(function (draw) { %>
                <% _.each(draw.get('draw'), function (number) { %>
                    <%= number %>&nbsp;
                <% }); %>
                <br/>
            <% }); %>
        </script>

        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="vendor/underscore/underscore-min.js"></script>
        <script src="vendor/backbone/backbone-min.js"></script>
        <script src="vendor/backbone/backbone.local-storage-min.js"></script>

        <script src="src/models/draw.js"></script>
        <script src="src/models/game.js"></script>
        <script src="src/models/year.js"></script>
        <script src="src/collections/draw.js"></script>
        <script src="src/collections/game.js"></script>
        <script src="src/collections/year.js"></script>
        <script src="src/storage/base.js"></script>
        <script src="src/storage/last-game.js"></script>
        <script src="src/views/navigation/navigation.js"></script>
        <script src="src/views/browse/draws.js"></script>
        <script src="src/views/browse/years.js"></script>
        <script src="src/analysers/hot-cold-trend.js"></script>
        <script src="src/router.js"></script>
        <script src="src/app.js"></script>
    </body>
</html>
