<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Lottery</title>

        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-slot" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="#">Lottery</a>
                </div>

                <div class="collapse navbar-collapse" id="navigation-slot"></div>
            </div>
        </nav>

        <div id="content-slot" class="container"></div>

        <script type="text/template" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <%= providerGame.get('provider').name %> - <%= providerGame.get('game').name %> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <% _.each(providers, function(provider){ %>
                            <% _.each(provider.games, function(game){ %>
                                <li><a href="#"><%= provider.name %> - <%= game.name %></a></li>
                            <% }); %>
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </script>

        <script type="text/template" id="dashboard">
            <h1>Dashboard</h1>
        </script>

        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="vendor/underscore/underscore-min.js"></script>
        <script src="vendor/backbone/backbone-min.js"></script>
        <script src="vendor/backbone/backbone.local-storage-min.js"></script>

        <script src="src/models/provider-game.js"></script>
        <script src="src/storage/basic.js"></script>
        <script src="src/views/navigation/navigation.js"></script>
        <script src="src/views/dashboard.js"></script>
        <script src="src/api.js"></script>
        <script src="src/router.js"></script>
        <script src="src/app.js"></script>
    </body>
</html>
